<div id="modal-{{ popup.id }}" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-hidden="true"></button>
            {% if popup.isImage() %}
                <a{% if popup.url is not empty %} href="{{ popup.url }}"{% endif %}{% if popup.newWindow %} target="_blank"{% endif %}>
                    <img id="popup-image-{{ popup.id }}" alt="{{ popup.imageAlt }}" title="{{ popup.imageTitle }}" src="{{ asset(popup.media.url) }}" />
                </a>
            {% else %}
                {{ popup.html | raw }}
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
       $('#modal-{{ popup.id }}').modal('show');
    });
</script>

